// theme colors
$color-main: #00305e;
$color-secondary-light: #f0f3f2;
$color-secondary-medium: #f4f6f7;
$color-secondary-dark: #b5b5b5;

// text colors
$color-text-light: #fff;
$color-text-dark: #5f727f;

$border-standard: 1px solid $color-secondary-dark;
$border-colored: 2px solid $color-main;
