@use "../abstracts/" as *;

.fake-btn {
  cursor: pointer;
  background-color: $color-main;
  border-radius: 5px;
  color: $color-text-light;
  padding: 0.35rem 0.8rem;
  transition: 0.3s;
  width: max-content;

  &:hover {
    background-color: $color-secondary-dark;
  }
}

.big-btn {
  color: $color-text-light;
  font-weight: 100;
  padding: 0.6rem 1.2rem;
  text-transform: uppercase;
}
